.home h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.daily-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.daily-item {
    width: calc(33.333% - 1.5rem);
    height: 640px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.daily-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.daily-item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.daily-item-content {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.daily-item-content .category-link {
    align-self: baseline;
}

.daily-item h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--gryffindor-gold);
}

.daily-item p {
    margin-bottom: 0.5rem;
}

.daily-item a {
    display: inline-block;
    margin-top: 1rem;
    color: var(--gryffindor-gold);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.daily-item a:hover {
    color: var(--hufflepuff-yellow);
}

@media (max-width: 768px) {
    .daily-items {
        flex-direction: column;
    }

    .daily-item {
        width: 100%;
    }
}