.navigation-bar {
    background-color: rgba(11, 29, 59, 0.8);
    /* Darker, semi-transparent version of your background start color */
    padding: 1rem;
    backdrop-filter: blur(5px);
    /* This creates a frosted glass effect */
}

.navigation-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navigation-bar li {
    display: inline;
}

.navigation-bar a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.navigation-bar a:hover,
.navigation-bar a.active {
    color: var(--gryffindor-gold);
    background-color: rgba(255, 255, 255, 0.1);
}