.user-profile-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.user-profile-heading svg {
    font-size: 1.5rem;
    color: var(--header-color);
}

.avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.avatar-section img {
    max-width: 300px;
}

.profile-image-buttons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.profile-info {
    max-width: 300px;
    margin: 0 auto;
}

.avatar-section svg {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.user-profile form,
.error-message {
    max-width: 300px;
    margin: 0 auto 20px;
}

.user-profile form div {
    margin-bottom: 15px;
}

.user-profile label {
    display: block;
    margin-bottom: 5px;
}

.user-profile input,
.user-profile select,
.user-profile textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-profile textarea {
    height: 100px;
}

.user-profile button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}

.user-profile button:hover {
    background-color: #45a049;
}