.avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.avatar-section img {
    max-width: 420px;
    margin-bottom: 20px;
}

.profile-info {
    max-width: fit-content;
    margin: 0 auto;
}

.avatar-section svg {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.user-profile form,
.error-message {
    max-width: 420px;
    margin: 0 auto 20px;
}

.user-profile form div {
    margin-bottom: 15px;
}

.user-profile label {
    display: block;
    margin-bottom: 5px;
}

.user-profile input,
.user-profile select,
.user-profile textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-profile textarea {
    height: 100px;
}

.user-profile button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.user-profile button:hover {
    background-color: #45a049;
}